.leaderboard {
  flex: 2.6;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  border: solid 1px black;
  padding: 2rem;
  margin: 2rem;
  position: relative;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  padding: 2rem 0;
}

.loadingPosition {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  flex: 1;
}
