.toast {
  position: absolute;
  width: 35rem;
  border-radius: 4px;
  top: 1.8rem;
  right: 1.8rem;
  background-color: #26de81;
  display: flex;
}

.text {
  padding: 1rem;
  flex: 1;
}

.close {
  padding: 1rem 1.4rem;
}
