@import '../../styles/variables.css';

.enterRealm {
  padding: 1rem;
  width: 30rem;
  height: 40rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  div {
    span {
      display: block;
    }

    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 1rem 0;
      padding: 1rem;
      border: none;
      border-radius: 4px;
    }

    button {
      margin: 0 0.5rem;
      padding: 0.6rem 1.6rem;
      background-color: #ccc;
      border: none;
      border-radius: 4px;
    }

    .createRealm {
      background-color: #a6de8a;
    }
  }
}


.recentTitle {
  margin: 3rem 0 1rem 0;
  text-align: left;
}

.previousRealms {
  margin: 0;
  text-align: left;
  padding-left: 2rem;

  button {
    background-color: transparent;
    border: none;
    padding: 0 0.4rem;
    font-size: 1.6rem;
    outline: none;

    &:focus {
      background-color: #ccc;
    }

    &:active {
      background-color: #aaa;
    }
  }
}
